#map { 
  height: 100vh; 
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/*SEARCH BAR*/
#search-icon{
    position: absolute;
}
#search-wrap{
    width: 340px;
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 1000;
}
#search-content{
    padding: 0px 20px;
    height: 44px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: white;
}

/*SEARCH RESULTS*/
.result-item{
  padding: 5px;
  flex: 1; /*make parent box expand*/
}
#top-result{
  color: black; /*no special formatting needed*/
}
#results-container{
  margin-top: 6px;
  display: flex; /*expand with # of results*/
  flex-direction: column;
}
/*#results-container button{
  width: 100%;
  padding: 10px 12px;
  border: 0;
  background: white;
  text-align: left;
  cursor: pointer;
}
#results button:hover{
  background: #f3f3f3;
}*/
