@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

#map { 
  height: 100vh; 
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans";
}

/*SEARCH BAR*/
#search-icon{
    position: absolute;
}
#search-wrap{
    width: 340px;
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 1000;
}
#search-content{
    padding: 0px 20px;
    height: 44px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: white;
    box-sizing: border-box;
    font-family: "Google Sans";
    font-size: 16px;
}

/*SEARCH RESULTS*/
.result-item{
  flex: 1; /*make parent box expand*/
  font-family: "Google Sans", sans-serif;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 25px;
}
.result-item:hover {
  background-color: #f4f4f4;
}
#top-result{
  color: black; /*no special formatting needed*/
}
#results-container{
  display: flex; /*expand with # of results*/
  flex-direction: column;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 25px 25px;
  background: white;
  box-sizing: border-box;
}
/*#results-container button{
  width: 100%;
  padding: 10px 12px;
  border: 0;
  background: white;
  text-align: left;
  cursor: pointer;
}
#results button:hover{
  background: #f3f3f3;
}*/
